body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#juego {
    border: 1px solid #444;
    margin-right: 20px;
    margin-bottom: 10px;
}
